$base-background-color: #FFFFFF;
$no-active-color: #D9D9D9;

.select_form {
  width: 15em;
  display: inline-block;
  margin: 1rem;
}

.select-block {
  display: flex;
  align-items: center;
  height: 2em;
}

.select-search {
  border: 1px;
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 1.5em;
  background-color: $base-background-color;
}

.select-loader {
  font-size: 14px;
  color: $no-active-color;
  margin-left: 1em;
}

.select-loader--hidden {
  display: none;
}

.select-search--no_active {
  border: 1px solid $no-active-color;
}

.select-search--no_active:hover {
  border-color: #4FACF8;
}

.select-search--active {
  border: 2px solid #CBE3F8;
  border-radius: 3px;
}

.select-popup_menu {
  position: absolute;
  z-index: 30;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  cursor: pointer;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $base-background-color;
  box-shadow: 0 6px 16px #00000014, 0 9px 28px 8px #0000000D;
}

.select-popup_menu--appear {
  display: inline-block;
}

.select-popup_menu--disappear {
  display: none;
}

.select-popup_menu-row {
  display: block;
  width: inherit;
  padding-left: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 3px;
}

.select-popup_menu-row--hidden {
  display: none;
}

.select-popup_menu-row:hover {
  background-color: #F5F5F5;
}

.select-popup_menu-row--selected {
  background-color: #E6F7FF;
}

.select-icon {
  width: 0.7rem;
  height: 0.7rem;
  fill: $no-active-color;
  cursor: pointer;
  margin: 0 0.5rem 0.2rem 0;
}

.icon_chevron_0 {
  transform: rotate(0deg);
  margin-top: 0.15rem;
}

.icon_chevron_180 {
  transform: rotate(180deg);
  margin-top: 0.65rem;
}

#search_input {
  width: inherit;
  outline: none;
  border-width: 0;
}

#search_input::placeholder {
  color: $no-active-color;
}
